p {
    color: #00D200;
    text-decoration: none;
  }

h2 {
    color: #00D200;
    text-decoration: none;
  }

h5 {
    color: #00D200;
    text-decoration: none;
  }

body {
  background-color: black;
}